# FILE MANAGEMENT STUFF
workspaces/

# Backend
/backend/.venv/
__pycache__
.vscode/
backend/ft_backend/*

### FRONTEND
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
